*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.header{
  width: 100%;
  height: 50px;
  background-color: orange;
}



main{
  width: 100%;
  height:900px;
  display: flex;
  justify-content:center;
  margin: 0 auto;
  padding: 50px 0 30px;
  background-color: #fff;

}

.flex {
  display: flex;
  flex-direction:row;
  background-color: #fff;
}
.flex > div {
  width: 90%;
  height: 100%;
  margin-bottom:20px;
  position: center;
  background-color: #ccc;
}



.box1{
  width: 100%;
  height: 250px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.box2{
  width: 100%;
  height: 250px;
  background-color: #ccc;
  margin-bottom: 20px;
}
.box3{
  width: 100%;
  height: 250px;
  background-color: #ccc;
  margin-bottom: 30px;
}


.blog-image{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content:center;
  padding: 10px;
}
.category{
  position: absolute;
  display: inline-block;
  padding:5px 5px;
  background-color:orange;
  border-radius: 3px;
  color: #fff
}

.blog-text{
 padding:15px 10px 5px;
  font-size:15px;
  text-align:left;
  font-family: monospace;
}
.blog-date{
  padding:0 10px;
  font-size: 12px;
  text-align:justify;
}
.footer{
  width: 100%;
  height: 50px;
  background-color: grey;
}

@media screen and (max-width:768px){
  .header{
    width: 100%;
  }
  main{
   width: 100%;
   
  }
  .flex{
   display: flex;
  flex-direction:column;
    justify-content:center;
   align-items:center;
 
  }
  
  .flex > div {
  width: 90%;
  height: 90%;
  margin-bottom: 20px;
  position: center;
}

.box1{
  width: 100%;
}
.box2{
  width: 100%;
}
.box3{
  width: 100%;
}

.blog-image{
  width: 100%;
  padding: 10px;
}

.blog-text{
  padding: 15px 10px 5px;
  text-align-last: left;
}
.blog-date{
  padding:0 10px;
  text-align-last:left;
}
}